body {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: linear-gradient(135deg, white 0%, aqua 100%);
    height: 80px;
    width: 100%;
    padding-right: 190px;
}

main {
    padding-top: 70px;
    background-color: antiquewhite;
}

.container {
    padding: 80px 30px;
    display: flex;
    gap: 50px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border-color: orange;
}

.foto-circolari {
    border-width: 10px;
    border-color: red;
}

.sport-olimpici {
    display: flex;
    flex-wrap: wrap;
    background-color: sandybrown;
    width: 420px;
    justify-content: center;
    box-shadow: 5px 5px 50px red;
    border-radius: 30px;
    justify-items: center;
}

video {
    height: 500px;
    width: 1200px;
}

footer {
    justify-content: center;
    justify-items: center;
    background: linear-gradient(135deg, white 0%, aqua 100%);
    color: white;
    height: 300px;
}

hr {
    color: white;
    width: 100%;
}

#h1sport {
    width: 100%;
}

#sottot {
    color: #d32f2f;
}

h1 {
    color: #d32f2f;
}

h2 {
    color: #d32f2f;
}

.btn-oli {
    background: linear-gradient(135deg, #d32f2f 0%, #eb5100 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    padding: 12px 30px;
    font-weight: bold;
    box-shadow: 0px 6px 12px black;
}

.btn-oli:hover {
    background: linear-gradient(135deg, #b71c1c 0%, #eb5100 100%);
    box-shadow: 0px 6px 16px black;
    scale: 1.08;
}

.cont-tut {
    background-color: white;
    height: 500px;
    width: 700px;
    border: #b71c1c;
    border-radius: 20px;
    border-width: 20px;
}

.reply {
    padding: 12px;
}

.quest-cont {
    display: flex;
    flex-direction: column;
}

#btn-ver {
    display: block;
}